/******************************************************************************/
/* Your custom css code goes here */




/******************************************************************************/
#chris-banner-text-div2
{
    position:absolute;
    top:0%;
    left:0%;
}


/******************************************************************************/
@media only screen and (max-width: 400px)
{
  .chris-blurb
  {
      font-size:small;
      margin-left:10%;
      margin-right:10%;
  }
}



/******************************************************************************/
@media only screen and (min-width: 401px) and (max-width: 600px)
{
  .chris-blurb
  {
      font-size:medium;
      margin-left:10%;
      margin-right:10%;
  }
}



/******************************************************************************/
@media only screen and (min-width: 601px) and (max-width: 1280px)
{
  .chris-blurb
  {
      font-size:medium;
      margin-left:10%;
      margin-right:10%;
  }
}



/******************************************************************************/
@media only screen and (min-width: 1281px)
{
  .chris-blurb
  {
      font-size:medium;
  }
}

